.apparty
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-color: white;
  color: black;
  font-size: 30px;
  padding-top: 141px;

  font-family: Roboto, sans-serif;
  font-style: normal;
}

.apparty__search
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 810px;
  margin: 0 auto 30px;
}

.apparty__results,
.apparty__party
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  gap: 30px;
  width: 810px;
  margin-left: auto;
  margin-right: auto;
}

.apparty__party
{
  margin-top: 100px;
  margin-bottom: 142px;
}

.apparty__headeline
{
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}