.character-card
{
    position: relative;
    z-index: 1;
    display: block;
    width: 180px;
    height: 220px;
    overflow: hidden;
    background-color: #DADADA;
}
.character-card[role="button"]
{
    cursor: pointer;
}

.character-card__image
{
    z-index: 1;
    position: absolute;
    display: block;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.character-card__name
{
    position: absolute;
    width: 100%;
    top: 165px;
    left: 0;
    
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.character-card__close
{
    position: absolute;
    z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.character-card__close::before,
.character-card__close::after
{
    position: absolute;
    content: '';
    display: block;
    width: 14.142135623730951px;
    height: 2px;
    left: 50%;
    top: 50%;
    margin-top: -1px;
    margin-left: -7.0710678118654755px;
    background-color: #000000;
    transform-origin: center;
}

.character-card__close::before
{
    transform: rotate(45deg);
}

.character-card__close::after
{
    transform: rotate(135deg);
}