.search-pannel
{
    width: 100%;
}

.search-pannel__input {
    width: 100%;
    height: 80px;
    padding: 22px 27px 25px;
    line-height: 1em;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;

    background: #FFFFFF;
    border: 1px solid #A0A0A0;
    color: #000000;
}